code{
  display: inline-block;
  background-color: #ccc;
  color: #1a1a1a;
  padding: 0.3rem 0.6rem;
  margin: 0.8rem 0 0.6rem 0;
}
.grid{
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-template-rows:    20px 20px 20px 20px 20px 20px 20px 20px; 
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . ."
    ". . . . . . . .";
  margin-bottom: 20px;
}

.grid > div{
  border-collapse: collapse;
  background-color: blue;
  outline: 1px solid #ccc;
}

.grid > div[data-state="on"]{
  background-color: yellow;
}

label{
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}
input{
  padding: 0.3rem;
  display: block;
  margin-bottom: 8px;
}